@page
@model Oceanarium.Pages.OldOrderModel
@{
}
<h1>Sorry, your order not found or already passed :(</h1>
<h2>If you have any questiuons you can contact us throught form here:</h2>
<form asp-page-handler="Redirect">
	<button type="submit" class="btn btn-lg btn-primary">Contact</button>
</form>
