@page
@model Oceanarium.Pages.Admin.Events.EditModel
@{
}
<form method="post" asp-area="Admin">
	<input asp-for="changeEvent.Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Category</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="changeEvent.Name" class="form-label"></label>
			<input asp-for="changeEvent.Name" class="form-control" />
			<span asp-validation-for="changeEvent.Name" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="changeEvent.Description" class="form-label"></label>
			<textarea asp-for="changeEvent.Description" class="form-control"></textarea>
			<span asp-validation-for="changeEvent.Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="changeEvent.StartDate" class="form-label"></label>
			<input asp-for="changeEvent.StartDate" class="form-control" type="datetime-local" />
			<span asp-validation-for="changeEvent.StartDate" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="changeEvent.EndDate" class="form-label"></label>
			<input asp-for="changeEvent.EndDate" class="form-control" type="datetime-local" />
			<span asp-validation-for="changeEvent.EndDate" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="changeEvent.Price" class="form-label"></label>
			<input asp-for="changeEvent.Price" class="form-control" />
			<span asp-validation-for="changeEvent.Price" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="changeEvent.MaxTicketsDefault" class="form-label"></label>
			<input asp-for="changeEvent.MaxTicketsDefault" class="form-control" />
			<span asp-validation-for="changeEvent.MaxTicketsDefault" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="changeEvent.MaxTickets" class="form-label"></label>
			<input asp-for="changeEvent.MaxTickets" class="form-control" />
			<span asp-validation-for="changeEvent.MaxTickets" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="changeEvent.Status" class="form-label"></label>
			<select asp-for="changeEvent.Status" class="form-control">
				<option value="Active">Active</option>
				<option value="Cancelled">Cancelled</option>
				<option value="Refunded">Refunded</option>
				<option value="Finished">Finished</option>
			</select>
			<span asp-validation-for="changeEvent.Status" class="text-danger"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-md-3">
			<button type="submit" class="btn btn-primary form-control">Edit</button>
		</div>
		<div class="col-6 col-md-3">
			<a asp-page="./Index" class="btn btn-outline-secondary border form-control">
				Back to List
			</a>
		</div>
	</div>

</form>

@if (!ModelState.IsValid)
{
	<div class="alert alert-danger">
		<ul>
			@foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
			{
				<li>@error.ErrorMessage</li>
			}
		</ul>
	</div>
}

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
